[project]
	description = Crawls Google Play store apps website, returning results as JSON
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Christophe Eblé (chreble)
[access "refs/for/refs/*"]
	read = group user/Christophe Eblé (chreble)
	push = group user/Christophe Eblé (chreble)
	label-Code-Review = -2..+2 group user/Christophe Eblé (chreble)
	label-Verified = -1..+1 group user/Christophe Eblé (chreble)
	rebase = group user/Christophe Eblé (chreble)
	removeReviewer = group user/Christophe Eblé (chreble)
	submit = group user/Christophe Eblé (chreble)
[access "refs/heads/*"]
	read = group user/Christophe Eblé (chreble)
	create = group user/Christophe Eblé (chreble)
	push = +force group user/Christophe Eblé (chreble)
	pushMerge = group user/Christophe Eblé (chreble)
[access "refs/tags/*"]
	push = +force group user/Christophe Eblé (chreble)
	pushTag = group user/Christophe Eblé (chreble)
	pushSignedTag = group user/Christophe Eblé (chreble)
